* {
    margin: 0;
    padding: 0;
}

.landing {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.distortion {
    width: 640px;
    height: 960px;

}

.intro {
    align-self: center;
}

.intro h2 {
    font-size: 50px;
}

.intro p {
    font-size: 25px;
}
